@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }
@keyframes slideDown {
    0% { bottom: 50px; }
    50% { bottom: 10px; }
}
.hide {
    display: none;
}
.specialWord {
    font-weight: bold;
    color: #0fd0c5;
}
.specialSentence {
    font-family: 'Times New Roman', serif;
    font-style: italic;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}
.vertical-center-up {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
}
.vertical-center-down {
    position: absolute;
    bottom: 50%;
    -webkit-transform: translateY(50%);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial,"Microsoft YaHei",sans-serif;
}

html,body {
    height: 100%;
    overflow: hidden;
}

canvas {
    z-index: 1;
    opacity: 0;
    position: fixed;
    -webkit-transition: opacity 1s;
}
a {
    text-decoration: none;
}
a:link, a:visited, a:target {
    color: #ffffff;
}

.content {
    z-index: 2;
}

#skye-background, #skye-contentPage, .section {
    height: 100%;
    position: relative;
    top: 0;
    -webkit-transition: top 1s;
}

#skye-personal, #skye-work, #skye-resume {
    background-color: #0fd0c5;
}

#skye-about, #skye-blog, #skye-contact {
    background-color: #000000;
    color: #ffffff;
}

#skye-header {
    width: 100%
}
.skye-header {
    z-index: 100;
    height: 80px;
    /*background-color: #000000;*/
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    /*box-shadow: 1px 3px 2px #4F4949;
    -webkit-box-shadow: 1px 3px 2px #4F4949;
    -moz-box-shadow: 1px 3px 2px #4F4949;*/
    position: fixed;
    left: 0px;
    top: 0px;
    -webkit-transition-property: width, height, background-color;
    -webkit-transition-duration: 1s;
}

#skye-logo {
    width: 100px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
}

#skye-nav {
    height: 1em;
    font-size: 0.8em;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
}
#skye-nav ul {
    height: 100%;
    margin: 0;
}
#skye-nav a {
    padding: 0 .3em;
}
#skye-nav a:not(:last-child) {
    border-right: #ffffff solid 1px;
}
#skye-nav li {
    display: inline-block;
    position: relative;
    letter-spacing: .2em;
}
#skye-nav li:hover {
    color: #0fd0c5;
    /*border-bottom: 2px solid #0fd0c5;*/
    /*-webkit-transition: border-color 1s;*/
}
#skye-nav li span {
    display: inline-block;
    width: 30%;
    height: 10%;
    border-bottom: 2px solid rgba(0,0,0,0);
    position: absolute;
    bottom: -3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -webkit-transition: width 0.5s, border 0.5s;
}
#skye-nav li span:hover {
    width: 100%;
    border-bottom: 2px solid #0fd0c5;
    -webkit-transition: width 1s;
}

#skye-personal .content {
    width: 100%;
    text-align: center;
}
#skye-quote {
    position: relative;
    font-size: 2.5em;
    font-weight: 800;
}
#skye-quote div {
    display: inline-block;
    width: 1.2em;
    height: 100%;
    border-bottom: 3px solid #000000;
    position: absolute;
    bottom: -10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -webkit-transition: width 0.5s;
}
#skye-quote div:hover {
    width: 70%;
    -webkit-transition: width 1s;
}
#skye-sayHi {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: 1px;
    border-right: .1em solid;
  	width: 40ch; /* # of chars */
    /*width: 80%;*/
  	white-space: nowrap;
  	overflow: hidden;
    -webkit-animation: typing 8s steps(40, end),
               blink-caret .5s step-end infinite alternate;
}

#skye-about .content {
    width: 100%;
    text-align: center;
}
#skye-about h1 {
    margin-bottom: 0;
    font-size: 2em;
    font-weight: 800;
}
#skye-about p, button {
    margin-top: 20px
}
#skye-about .doing {
    font-size: 1em;
    font-weight: bold;
    margin-top: 0;
    position: relative;
}
#skye-about .doing span {
    display: inline-block;
    width: 1.2em;
    height: 150%;
    border-bottom: 2px solid #ffffff;
    position: absolute;
    bottom: -10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -webkit-transition: width 0.5s;
}
#skye-about .doing span:hover {
    width: 80%;
    -webkit-transition: width 1s;
}
#skye-about p {
    font-size: 1em;
    line-height: 1.5em;
    color: #b7b7b8;
}
#skye-about button {
    color: #0fd0c5;
    font-weight: bolder;
    padding: 10px 15px;
    border: 2px solid #0fd0c5;
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    -webkit-transition-property: color, border, background-color;
    -webkit-transition-duration: 0.5s;
}
#skye-about button:hover {
    color: #000000;
    border: 2px solid #0fd0c5;
    background-color: #0fd0c5;
    -webkit-transition: color, border, background-color;
    -webkit-transition-duration: 0.5s;
}

#skye-work h1 {
    margin-bottom: 5%;
    font-size: 2em;
    font-weight: 800;
    position: relative;;
}
#skye-work .content {
    width: 100%;
    text-align: center;
}
#skye-work .myWork {
    vertical-align: middle;
    width: 100%;
    position: relative;
}
#work1 {

}
#work1 {
    margin: 0 auto;
    /*-webkit-transform: rotateY(180deg);
    -webkit-transition: -webkit-transform 1s;*/
}
#work1 .workContainer {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: transform 2s;
}
#work1 .workContainer .side {
    -webkit-backface-visibility: hidden;
}
#work1 img {
    width: 300px;
    height: 520px;
    box-shadow: 5px 5px 29px #333333;
    -webkit-transform: rotateY(0deg);
}
#work1 .workIntro {
    color: #ffffff;
    width: 300px;
    height: 520px;
    margin-top: -260px;
    margin-left: -150px;
    box-sizing: border-box;
    padding: 40px 0;
    background-color: #262626;
    position: absolute;;
    -webkit-transform: rotateY(180deg);
}
#work1 .workIntro h1 {
    color: #FD4848;
}
#work1 .workIntro .des {
    width: 100%;
    line-height: 30px;
}
#work1 .workIntro a {
    display: inline-block;
    width: 100px;
    height: 25px;
    margin-top: 20px;
    background-color: rgba(0,0,0,0);
    border: 2px solid #FD4848;
    border-radius: 5px;
    -webkit-transition: background 0.5s;
}
#work1 .workIntro a:hover {
    background-color: #FD4848;
    -webkit-transition: background 0.5s;
}

#skye-blog .content {
    width: 100%;
    text-align: center;
}

#skye-resume .content {
    width: 100%;
    text-align: center;
}

#skye-contact h1 {
    margin-bottom: 2em;
    font-size: 2em;
    font-weight: 800;
}
#skye-contact .content {
    width: 100%;
    text-align: center;
}
.contacts {
    height: 4rem;
    position: relative;
}
.contact {
    display: inline-block;
    margin: 10px;
    width: 5rem;
    height: 5rem;
    -webkit-transition: width 0.5s, height 0.5s;
    position: absolute;
}
.contact:hover {
    width: 3.5rem;
    height: 3.5rem;
    -webkit-transition: width 0.5s, height 0.5s;
}
.contact img {
    width: 100%;
    height: 100%;
}
#contact-email {
    left: 30%;
}
#contact-github {
    left: 50%;
    -webkit-transform: translateX(-70%);
}
#contact-weibo {
    right: 30%;
}

footer {
    width: 100%;
    height: 50px;
    font-size: 0.8em;
    position: relative;
    bottom: 50px;
}
footer img {
    width: 50px;
    height: inherit;;
    position: absolute;
    left: 20;
}
footer span {
    width: auto;
    position: absolute;
    color: #ffffff;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
}

#slideDown {
    z-index: 3;
    width: 2rem;
    height: 2rem;
    opacity: 0.5;
    position: fixed;
    right: 20px;
    bottom: 50px;
    -webkit-animation: slideDown 2s infinite;
}
#slideDown:hover {
    opacity: 0.8;
}
